* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #000;
  color: #fff;
  line-height: 1.7;
  overflow-x: hidden;
}

/* Nav */
nav {
  display: flex;
  justify-content: center;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  padding: 5px 20px;
  border-radius: 8px;
  transition: all 0.3s;
}

nav a:hover {
  color: #ff006f;
  transition: all 0.3s;
}

ul {
  display: flex;
  justify-content: center;
  background-color: #000000a3;
  border: 1px solid #333;
  border-radius: 50px;
  padding: 5px 10px;
  /* flex-wrap: wrap; */
} 

/* Project Grid */
.op{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.main-project {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
/*   justify-content: center; */
}

.project-card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 15px;
  width: 350px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* .project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
} */

.project-card #card-h2{
  font-size: 20px;
}
.project-card #card-p{
  font-size: 15px;
}


.project-card img.thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Modal Styles */
.project-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(10, 10, 10, 0.95);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: fadeIn 0.5s ease forwards;
}

.modal-content {
  background: #000;
  padding: 30px;
  border-radius: 10px;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.modal-content h2 {
  font-size: 50px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
.box{
  width: 100%;
  display: flex;
  justify-content: center;
}
.image-gallery {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
  overflow-x: auto;
  margin-bottom: 20px;
  justify-content: center;
  justify-items: center;
}

.image-gallery img {
  /* flex: 0 0 auto; */
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 2px solid #ff006f;
}

.close-btn {
  position: sticky;
  top: 0%;
  left:100%;
  font-size: 28px;
  color: #ff5555;
  cursor: pointer;
}

.view-btn {
  display: inline-block;
  margin-top: 10px;
  background: #ff0055;
  padding: 8px 15px;
  color: white;
  text-decoration: none;
  border-radius: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
@media (max-width: 768px){
width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 0fr));
    gap: 10px;
    overflow-x: auto;
    margin-bottom: 20px;
    justify-content: center;
    justify-items: center;
}
